@use "./base.scss";

// put your custom CSS here!

// fix alignment on mobile
button.mobile-explorer {
    padding-top: 1.28rem !important;
}

.page-title {
    margin-top: -0.2rem !important;
    margin-left: 0.5rem !important;
}

.explorer-ul {
    margin-left: 1rem !important;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background: url("static/graphy-dark.png") repeat center top;
    z-index: -1;
    opacity: 25%;
}
